@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-page: #ffffff;
    --bg-card: #f8fafc; /* slate-50 */
    --text-main: #0f172a; /* slate-900 */
    --text-muted: #64748b; /* slate-500 */
    --border-color: #f1f5f9; /* slate-100 */
  }

  :root.dark {
    --bg-page: #0f172a; /* slate-900 */
    --bg-card: #1e293b; /* slate-800 */
    --text-main: #f8fafc; /* slate-50 */
    --text-muted: #94a3b8; /* slate-400 */
    --border-color: #334155; /* slate-700 */
  }
}

@layer components {
  .card-surface {
    @apply bg-[var(--bg-card)] border border-[var(--bg-card)] shadow-sm rounded-2xl transition-all duration-300;
  }
}